<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Beranda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding home-bg">
 
  <div class="welcome-card">
    <ion-img src="../../assets/icon/bem-logo.png" class="logo"></ion-img>
    <h1>Kabinet Swara Dharma</h1>
    <h2>Suara Aksi, Dharma Prestasi</h2>

    <p class="description">
      Selamat datang di aplikasi <strong>Teman BEM</strong>! Kabinet Swara Dharma hadir untuk menjadi jembatan aspirasi dan motor penggerak perubahan positif di lingkungan kampus.Silahkan registrasi keanggotaan BEM dan bergabung bersama kami.
    </p>
    <ion-button expand="block" color="secondary" shape="round" routerLink="/tabs/tab2">
      Daftar Anggota BEM
    </ion-button>

  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Visi & Misi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Visi:</strong> Mewujudkan mahasiswa aktif, berprestasi, dan peduli lingkungan sosial kampus.</p>
      <p><strong>Misi:</strong></p>
      <ul>
        <li>Mengoptimalkan aspirasi mahasiswa</li>
        <li>Meningkatkan sinergi antar organisasi kampus</li>
        <li>Menumbuhkan semangat kolaborasi dalam karya nyata</li>
        <li>Mendorong partisipasi aktif mahasiswa dalam kegiatan sosial</li>
        <li>Membangun budaya inovasi dan kreativitas di kalangan mahasiswa</li>
        <li>Memperkuat hubungan antara BEM dan mahasiswa</li>
        <li>Meningkatkan kesadaran akan isu-isu sosial dan lingkungan</li>
        <li>Mendorong mahasiswa untuk berkontribusi dalam pembangunan kampus</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
